{% extends "baselayout.njk" %}

{% macro navLink(href, text, pageId) %}
  {% if pageId === currentPage %}
    <a class="nav-link active" href={{ href }}>{{ text }}</a>
  {% else %}
    <a class="nav-link" href={{ href }}>{{ text }}</a>
  {% endif %}
{% endmacro %}
{% block body %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
          integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
          integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
          crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Sports Scheduler</a>
      <ul class="navbar-nav">
        <li class="nav-item">{{ navLink('/', 'Sports', 'sports') }}</li>
        <li class="nav-item">{{ navLink('/user/sessions', 'My Sessions', 'mySessions') }}</li>
        {% if user.role==="ADMIN" %}<li class="nav-item">{{ navLink('/admin/reports', 'Reports', 'reports') }}</li>{% endif %}
      </ul>
      <div class="">
        <span class="navbar-text">
          Hi,
          {{ user.firstName }}
        </span>
        <a class="btn btn-outline-danger ms-2" href="/user/logout">Logout</a>
      </div>
    </div>
  </nav>
  <div class="container p-5">

    {% include "snippets/alerts.njk" %}

    {% block content %}{% endblock %}
  </div>
{% endblock body %}
