{% extends "layout.njk" %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.min.js"
          integrity="sha512-TJ7U6JRJx5IpyvvO9atNnBzwJIoZDaQnQhb0Wmw32Rj5BQHAmJG16WzaJbDns2Wk5VG6gMt4MytZApZG47rCdg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <h3>Reports {{ user.firstName }}</h3>
  <form method="get">
    <div class="row">
      <div class="col">
        <label for="startDate" class="form-label">From</label>
        <input type="date" name="startDate" id="startDate" class="form-control" value={{ startDate }} />
      </div>
      <div class="col">
        <label for="endDate" class="form-label">To</label>
        <input type="date" name="endDate" id="endDate" class="form-control" value={{ endDate }} />
      </div>
      <div class="col-1 d-flex align-items-end">
        <button class="btn btn-primary w-100" type="submit">Apply</button>
      </div>
    </div>
  </form>
  <div class="row p-5">
    <div style="width:400px">
      <p class="text-center">Sessions by Sport</p>
      <canvas id="sessionsChart"></canvas>
    </div>
    <div style="width:400px">
      <p class="text-center">Participation by Sport</p>
      <canvas id="participationChart"></canvas>
    </div>
    {# <div style="width:400px">
      <p class="text-center">Participation over time</p>
      <canvas id="participationOverTimeLineChart"></canvas>
    </div>  #}
  </div>
  <script>
    /* beautify preserve:start */
    const sessionData = {{ sessionData | safe }};
    /* beautify preserve:end */
    const ctx = document.getElementById('sessionsChart');
    console.log(Chart, ctx);
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: sessionData.map(d => d.sport),
        datasets: [{
          label: 'Sessions',
          data: sessionData.map(d => d.sessions),
          backgroundColor: 'rgba(14,165,233,0.4)',
        }]
      },
      options: {
        plugins: {
          legend: {
            display: true,
            position: 'bottom'
          }
        }
      }
    });

    /* beautify preserve:start */
    const participationData = {{ participationData | safe }};
    /* beautify preserve:end */
    const ctx2 = document.getElementById('participationChart');

    new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: participationData.map(d => d.sport),
        datasets: [{
          label: 'Participation',
          data: participationData.map(d => d.participation),
          backgroundColor: 'rgba(255,29,72,0.4)',
        }]
      },
      options: {
        plugins: {
          legend: {
            display: true,
            position: 'bottom'
          }
        }
      }
    });
    const participationOverTimeData = [{
      "game": "Cricket",
      "participation": [{
        "date": "2021-08-01",
        "count": 1
      }, {
        "date": "2021-08-02",
        "count": 2
      }, {
        "date": "2021-08-03",
        "count": 3
      }, {
        "date": "2021-08-04",
        "count": 4
      }, {
        "date": "2021-08-05",
        "count": 5
      }, {
        "date": "2021-08-06",
        "count": 6
      }, {
        "date": "2021-08-07",
        "count": 7
      }, {
        "date": "2021-08-08",
        "count": 8
      }, {
        "date": "2021-08-09",
        "count": 9
      }, {
        "date": "2021-08-10",
        "count": 10
      }, {
        "date": "2021-08-11",
        "count": 11
      }, {
        "date": "2021-08-12",
        "count": 12
      }, {
        "date": "2021-08-13",
        "count": 13
      }, {
        "date": "2021-08-14",
        "count": 14
      }, {
        "date": "2021-08-15",
        "count": 15
      }, {
        "date": "2021-08-16",
        "count": 16
      }, {
        "date": "2021-08-17",
        "count": 17
      }, {
        "date": "2021-08-18",
        "count": 18
      }, {
        "date": "2021-08-19",
        "count": 19
      }, {
        "date": "2021-08-20",
        "count": 20
      }, {
        "date": "2021-08-21",
        "count": 21
      }, {
        "date": "2021-08-22",
        "count": 22
      }, {
        "date": "2021-08-23",
        "count": 23
      }, {
        "date": "2021-08-24",
        "count": 24
      }, {
        "date": "2021-08-25",
        "count": 25
      }, {
        "date": "2021-08-26",
        "count": 26
      }, {
        "date": "2021-08-27",
        "count": 27
      }, {
        "date": "2021-08-28",
        "count": 28
      }, {
        "date": "2021-08-29",
        "count": 29
      }, {
        "date": "2021-08-30",
        "count": 30
      }, {
        "date": "2021-08-31",
        "count": 31
      }]
    }, {
      game: "Football",
      "participation": [{
        "date": "2021-08-01",
        "count": 31
      }, {
        "date": "2021-08-02",
        "count": 30
      }, {
        "date": "2021-08-03",
        "count": 29
      }, {
        "date": "2021-08-04",
        "count": 28
      }, {
        "date": "2021-08-05",
        "count": 27
      }, {
        "date": "2021-08-06",
        "count": 26
      }, {
        "date": "2021-08-07",
        "count": 25
      }, {
        "date": "2021-08-08",
        "count": 24
      }, {
        "date": "2021-08-09",
        "count": 23
      }, {
        "date": "2021-08-10",
        "count": 22
      }, {
        "date": "2021-08-11",
        "count": 21
      }, {
        "date": "2021-08-12",
        "count": 20
      }, {
        "date": "2021-08-13",
        "count": 19
      }, {
        "date": "2021-08-14",
        "count": 18
      }, {
        "date": "2021-08-15",
        "count": 17
      }, {
        "date": "2021-08-16",
        "count": 16
      }, {
        "date": "2021-08-17",
        "count": 15
      }, {
        "date": "2021-08-18",
        "count": 14
      }, {
        "date": "2021-08-19",
        "count": 13
      }, {
        "date": "2021-08-20",
        "count": 12
      }, {
        "date": "2021-08-21",
        "count": 11
      }, {
        "date": "2021-08-22",
        "count": 10
      }, {
        "date": "2021-08-23",
        "count": 9
      }, {
        "date": "2021-08-24",
        "count": 8
      }, {
        "date": "2021-08-25",
        "count": 7
      }, {
        "date": "2021-08-26",
        "count": 6
      }, {
        "date": "2021-08-27",
        "count": 5
      }, {
        "date": "2021-08-28",
        "count": 4
      }, {
        "date": "2021-08-29",
        "count": 3
      }, {
        "date": "2021-08-30",
        "count": 2
      }, {
        "date": "2021-08-31",
        "count": 1
      }]
    }]

    // Extracting labels and datasets from the data
    const labels = participationOverTimeData[0].participation.map(entry => entry.date);
    const datasets = participationOverTimeData.map(data => {
      const color = getRandomColor();
      return {
        label: data.game,
        data: data.participation.map(entry => entry.count),
        backgroundColor: color,
        borderColor: color,
        borderWidth: 2,
        tension: 0.1
      };
    });

    // Generate a random color
    function getRandomColor() {
      const alpha = 0.4;
      const randomColor = Math.floor(Math.random() * 16777215).toString(16);
      const argbColor = "#" + ("00000000" + (parseInt(randomColor, 16) + (alpha * 255 << 24)).toString(16)).slice(-8);
      return argbColor;
    }


    // Create the chart
    const ctx3 = document.getElementById('participationOverTimeLineChart').getContext('2d');
    const myChart = new Chart(ctx3, {
      type: 'line',
      data: {
        labels: labels,
        datasets: datasets
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true
          }
        },
        pointRadius: 1,
      },
      plugins: {
        legend: {
          display: true,
          position: 'bottom'
        }
      }
    });
  </script>
{% endblock %}
