{% extends "layout.njk" %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.min.js"
          integrity="sha512-TJ7U6JRJx5IpyvvO9atNnBzwJIoZDaQnQhb0Wmw32Rj5BQHAmJG16WzaJbDns2Wk5VG6gMt4MytZApZG47rCdg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <h3>Reports</h3>
  <form method="get">
    <div class="row">
      <div class="col">
        <label for="startDate" class="form-label">From</label>
        <input type="date" name="startDate" id="startDate" class="form-control" value={{ startDate }} />
      </div>
      <div class="col">
        <label for="endDate" class="form-label">To</label>
        <input type="date" name="endDate" id="endDate" class="form-control" value={{ endDate }} />
      </div>
      <div class="col-1 d-flex align-items-end">
        <button class="btn btn-primary w-100" type="submit">Apply</button>
      </div>
    </div>
  </form>
  <div class="row p-5">
    <div style="width:400px">
      <p class="text-center">Sessions by Sport</p>
      <canvas id="sessionsChart"></canvas>
    </div>
    <div style="width:400px">
      <p class="text-center">Participation by Sport</p>
      <canvas id="participationChart"></canvas>
    </div>
  </div>
  <script>
    /* beautify preserve:start */
    const sessionData = {{ sessionData | safe }};
    /* beautify preserve:end */
    const ctx = document.getElementById('sessionsChart');
    console.log(Chart, ctx);
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: sessionData.map(d => d.sport),
        datasets: [{
          label: 'Sessions',
          data: sessionData.map(d => d.sessions),
          backgroundColor: 'rgba(14,165,233,0.4)',
        }]
      },
      options: {
        plugins: {
          legend: {
            display: true,
            position: 'bottom'
          }
        }
      }
    });

    /* beautify preserve:start */
    const participationData = {{ participationData | safe }};
    /* beautify preserve:end */
    const ctx2 = document.getElementById('participationChart');

    new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: participationData.map(d => d.sport),
        datasets: [{
          label: 'Participation',
          data: participationData.map(d => d.participation),
          backgroundColor: 'rgba(255,29,72,0.4)',
        }]
      },
      options: {
        plugins: {
          legend: {
            display: true,
            position: 'bottom'
          }
        }
      }
    });
  </script>
{% endblock %}
